[Unit]
Description=Gluster Thin Heketi Service
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/gluster-flexvol/environment
ExecStart=/usr/sbin/gluster-flexvol \
  --volume=${GLUSTER_VOL}
ExecReload=/bin/kill -SIGTERM $MAINPID
KillMode=process
Restart=on-failure
LimitNOFILE=infinity
LimitNPROC=infinity
TasksMax=infinity

[Install]
Alias=gluster-flexvol.service
WantedBy=multi-user.target
